:root {
    --custom-yellow: #EFB93C;
    --custom-darkgreen: #01260A;
    --custom-greyblue: #607F91;
    --custom-medgreen: #B3D0AE;
    --custom-lightgreen: #D4E4DE;
    --custom-lightgray: #E4E4E4;
}