<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Database Base Document</title>
    <script type="text/javascript" src="../Model/databases/drinks.js"></script>
    <script type="text/javascript" src="../Model/databases/VIP.js"></script>
    <script type="text/javascript" src="../Model/databases/accounts.js"></script>
    <script type="text/javascript" src="../Model/databases/languages.js"></script>
    <script type="text/javascript" src="../Model/databases/orders.js"></script>
    <script type="text/javascript" src="../Model/parameters.js"></script>

    <script type="text/javascript" src="../Controller/client_menu.js"></script>

</head>

<body>

<!---

The html-file is just for loading the javascript files. If you go to the console under the "Inspect" of the popup menu,
then you can enter javascript calls, to test the functions.

-->

</body>

</html>

