<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page for customer order</title>
    <link rel="stylesheet" type="text/css" href="CSS/ColourScheme.css">
    <link rel="stylesheet" type="text/css" href="CSS/CustomerOrderStyle.css">
    <link rel="stylesheet" type="text/css" href="CSS/MenubarStyle.css">
    <link rel="stylesheet" type="text/css" href="CSS/DefaultMessageBoxStyle.css">
    <script type="text/javascript" src="../Controller/DragDropFeature/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../databases/languages.js"></script>
    <script type="text/javascript" src="../databases/drinks.js"></script>
    <script type="text/javascript" src="../databases/drinks_information.js"></script>
    <script type="text/javascript" src="../databases/parameters.js"></script>
    <script type="text/javascript" src="../Model/languagesAccess.js"></script>
    <script type="text/javascript" src="htmlGeneration.js"></script>
    <script type="text/javascript" src="../Controller/UndoRedoManager.js"></script>
    <script type="text/javascript" src="DefaultMessageBoxFunction.js"></script>
    <script type="text/javascript" src="CreateMenuBarElement.js"></script>
    <script type="text/javascript" src="CustomerOrderPage.js"></script>
    <script type="text/javascript" src="../Controller/DragDropFeature/DragDropOrderModel.js"></script>
    <script type="text/javascript" src="../Controller/DragDropFeature/DragDropFunction.js"></script>
    <script type="text/javascript" src="../Controller/DragDropFeature/DragDropControl.js"></script>
</head>

<body>

</body>
</html>