<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../View/CSS/ColourScheme.css">
    <link rel="stylesheet" type="text/css" href="../View/CSS/DefaultMessageBoxStyle.css">
    <link rel="stylesheet" type="text/css" href="../View/CSS/NavBarStyle.css">
    <link rel="stylesheet" type="text/css" href="../View/CSS/MenubarStyle.css">
    <link rel="stylesheet" type="text/css" href="../View/CSS/UndoRedoBtnStyle.css">

    <link id="custOrderStyleId" rel="stylesheet" type="text/css" href="../View/CSS/CustomerOrderStyle.css">
    <link id="staffOrderStyleId" rel="stylesheet" type="text/css" href="../View/CSS/StaffOrderStyle.css">

    <script type="text/javascript" src="../Controller/DragDropFeature/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../databases/drinks.js"></script>
    <script type="text/javascript" src="../databases/drinks_information.js"></script>
    <script type="text/javascript" src="../databases/parameters.js"></script>
    <script type="text/javascript" src="../databases/languages.js"></script>
    
    <script type="text/javascript" src="../Model/languagesAccess.js"></script>
    <script type="text/javascript" src="../Model/beveragesAccess.js"></script>
    <script type="text/javascript" src="../Model/beveragesManagement.js"></script>

    <script type="text/javascript" src="../View/htmlGeneration.js"></script>
    <script type="text/javascript" src="../View/beveragesDisplay.js"></script>
    <script type="text/javascript" src="../Controller/UndoRedoManager.js"></script>
    <script type="text/javascript" src="../View/CreateMenuBarElement.js"></script>
    <script type="text/javascript" src="../View/CreateNavBarElement.js"></script>
    <script type="text/javascript" src="../View/DefaultMessageBoxFunction.js"></script>
    <script type="text/javascript" src="../View/CreateUndoRedoBtn.js"></script>

    <script id="customerOrderPageId" type="text/javascript" src="../View/CustomerOrderPage.js"></script>
    <script id="staffOrderPageId" type="text/javascript" src="../View/StaffOrderPage.js"></script>

    <script type="text/javascript" src="../Controller/DragDropFeature/DragDropOrderModel.js"></script>
    <script type="text/javascript" src="../Controller/DragDropFeature/DragDropModelFunction.js"></script>
    <script type="text/javascript" src="../Controller/DragDropFeature/CstmrDragDropControl.js"></script>
    <script type="text/javascript" src="../Controller/DragDropFeature/StaffDragDropControl.js"></script>

    <script type="text/javascript" src="../View/PageLoader.js"></script>
</head>

<body>

</body>
</html>