<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Engagement&display=swap" rel="stylesheet">
  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <title>Ship With No Name</title>
</head>
<body>

<div class="container">
  <div class="welcome">
    <div class="welcome-container">
      <h1 class="welcome-text" id="header"></h1>
      <button class="welcome-btn">
        <a href="#ex1" rel="modal:open" id="sign"></a>
      </button>
    </div>
    <div id="ex1" class="modal">
      <div class="login-container">
        <form class="form">
          <div class="form-welcome">
            <p id="welcome"></p>
            <p class="sign-text" id="sign-welcome"></p>
          </div>
          <script>
            document.getElementById("sign").innerHTML = "Login"
            document.getElementById("header").innerHTML = "Welcome to our ship";
            document.getElementById("welcome").innerHTML = "Welcome On Board";
            document.getElementById("sign-welcome").innerHTML = "Sign In";
          </script>
          <!-- Login pop-up-->
          <form>
            <div class="userPass">
            <label for="username" id="username"></label><br>
            <input type="text" name="username" value="Enter your username" required><br>
            <label for="password" id="password"></label><br>
            <input type="password" name="password" value="Enter your password" required>
            </div>
            <script>
              document.getElementById("username").innerHTML = "Username :";
              document.getElementById("password").innerHTML = "Password :";
            </script>
          </form>
          <div class="modal-btns">
            <button type="submit" class="btn-login" id="lBtn"></button>
        <!--<button rel="modal:close" class="btn-back">Reset</button>-->
          </div>
          <script>
            document.getElementById("lBtn").innerHTML = "Login";
          </script>


        </form>
      </div>

    </div>



  </div>
  <div class="footer">
    <div class="rectangular"></div>
    <p>Swipe Up</p>
    <p>if you do not have an account</p>
  </div>

</div>
</body>
</html>
